<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
<link rel="stylesheet" href="{{ 'custom.css' | asset_url }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="{{ 'custom.js' | asset_url }}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<button id="ratingButton" style="display: none; color:{{ block.settings.colour }}; background-color:{{ block.settings.bg_colour }}; width: 250px; height: 50px; cursor: pointer;">
 Customize
</button>

<div id="ratingPopup" style="padding: 120px 30px 50px; background-image: linear-gradient(270deg,#fff,#eee); position: fixed; top: 0; left: 0; transform: translate(0%, 0%); z-index: 10; width: 100%; height: 100% box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px; right: 0; height: 100vh!important;">
 <div class="tabs-section-app">
  <div class="main-customizer-menus" style="cursor: pointer; width: 90px; padding: 15px 10px; background: #000; color: #b3b3b3; border-radius: 6px 0 0px 6px;">
    <div id="designTab" style="flex: 1; text-align: center;">Design</div>
    <div id="colorTab" style="flex: 1; text-align: center;">Colors</div>
    <input class="btn-reset" type="button" value="Reset" class="btn" />
  </div>
  <div class="main_color_bar">
  <div id="productData">
    <!-- Content will be dynamically generated -->
  </div>
  <div class="menu-color" style="display: none;">
  <div class="menucolorremove remove" style="cursor: pointer;"><img src="https://cdn.shopify.com/s/files/1/0904/5262/3636/files/cross.png" width="20px" height="20px" /></div>
<h4 class="customizer-heading">Colors</h4>
  <div class="flex-space-between selectedColor"><label class="item-title">Selected: </label><div class="colour-selected" style="background: rgb(23, 23, 23); border: none;"></div><label class="font bold colour-selected-label">Black</label></div>
  <hr class="colours-bottom-line">
  <div class="customColorMine ">
    <h5>Custom Color</h5>
    <input type="color" id="colorPicker" class="btn" />
  </div>
  <hr class="colours-bottom-line">
  <div class="colorListMine">
    <h5>Select Color</h5>
    <div class="color-list"><a title="White" class="icon-color-wrapper "><div class="back" style="background: rgb(255, 255, 255);"></div></a><a title="Black" class="icon-color-wrapper selected"><div class="back" style="background: rgb(23, 23, 23);"></div></a><a title="Dark Grey" class="icon-color-wrapper "><div class="back" style="background: rgb(83, 87, 90);"></div></a><a title="Light Grey" class="icon-color-wrapper "><div class="back" style="background: rgb(152, 152, 154);"></div></a><a title="Brown" class="icon-color-wrapper "><div class="back" style="background: rgb(80, 54, 41);"></div></a><a title="Dark Green" class="icon-color-wrapper "><div class="back" style="background: rgb(18, 71, 52);"></div></a><a title="Green" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 117, 74);"></div></a><a title="Lime Green" class="icon-color-wrapper "><div class="back" style="background: rgb(118, 188, 33);"></div></a><a title="Midnight Teal" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 89, 88);"></div></a><a title="Teal" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 137, 150);"></div></a><a title="Navy" class="icon-color-wrapper "><div class="back" style="background: rgb(32, 41, 69);"></div></a><a title="Royal Blue" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 87, 163);"></div></a><a title="Sky Blue" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 154, 222);"></div></a><a title="Light Blue" class="icon-color-wrapper "><div class="back" style="background: rgb(146, 192, 233);"></div></a><a title="Dark Purple" class="icon-color-wrapper "><div class="back" style="background: rgb(81, 12, 118);"></div></a><a title="Maroon" class="icon-color-wrapper "><div class="back" style="background: rgb(114, 37, 61);"></div></a><a title="Dark Red" class="icon-color-wrapper "><div class="back" style="background: rgb(171, 0, 51);"></div></a><a title="Red" class="icon-color-wrapper "><div class="back" style="background: rgb(234, 0, 41);"></div></a><a title="Orange" class="icon-color-wrapper "><div class="back" style="background: rgb(244, 137, 52);"></div></a><a title="Gold Yellow" class="icon-color-wrapper "><div class="back" style="background: rgb(255, 183, 27);"></div></a><a title="Light Yellow" class="icon-color-wrapper "><div class="back" style="background: rgb(252, 220, 62);"></div></a><a title="Vegas Gold" class="icon-color-wrapper "><div class="back" style="background: rgb(201, 181, 119);"></div></a><a title="Off White" class="icon-color-wrapper "><div class="back" style="background: rgb(241, 225, 207);"></div></a><a title="more" class="icon-color-wrapper hidden-pc"><div class="back" style="background: url(&quot;/static/icons/colours/more.svg&quot;) no-repeat;"></div></a></div>
  </div>
  <hr class="colours-bottom-line">
  </div>
  <div class="menu-design" style="display: none;">
  <div class="menudesignremove remove" style="cursor: pointer;"><img src="https://cdn.shopify.com/s/files/1/0904/5262/3636/files/cross.png" width="20px" height="20px" /></div>
     <div class="logo-list">
        <h3 class="section-title active" link="dynamiclogos">Custom Logo</h3>
        <h3 class="section-title" link="dynamicName">Custom Name</h3>
    </div>
  </div>
  <div class="custom-text" style="display:none;">
    <div class="dynamicMine dynamiclogos">
        <div class="dynamicText">
          <h4>Logos</h4>
        </div>
        <div class="logoList">
          <img src="https://cdn.shopify.com/s/files/1/0904/5262/3636/files/preview-removebg-preview.png" id="logo1" class="logo" alt="Logo 1">
          <img src="https://cdn.shopify.com/s/files/1/0904/5262/3636/files/preview__1_-removebg-preview.png" id="logo2" class="logo" alt="Logo 2">
        </div>
    </div>
    <div class="dynamicMine dynamicName" style="display: none;">
      <div class="customNamefield">
        <label for="customTextName">Custom Name</label>
        <input type="text" name="customName" id="customTextName" />
      </div>
      <div class="dynamicColor">
        <a title="White" class="dynamicNameColor"><div class="back" style="background: rgb(255, 255, 255);"></div></a><a title="Black" class="icon-color-wrapper selected"><div class="back" style="background: rgb(23, 23, 23);"></div></a><a title="Dark Grey" class="icon-color-wrapper "><div class="back" style="background: rgb(83, 87, 90);"></div></a><a title="Light Grey" class="icon-color-wrapper "><div class="back" style="background: rgb(152, 152, 154);"></div></a><a title="Brown" class="icon-color-wrapper "><div class="back" style="background: rgb(80, 54, 41);"></div></a><a title="Dark Green" class="icon-color-wrapper "><div class="back" style="background: rgb(18, 71, 52);"></div></a><a title="Green" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 117, 74);"></div></a><a title="Lime Green" class="icon-color-wrapper "><div class="back" style="background: rgb(118, 188, 33);"></div></a><a title="Midnight Teal" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 89, 88);"></div></a><a title="Teal" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 137, 150);"></div></a><a title="Navy" class="icon-color-wrapper "><div class="back" style="background: rgb(32, 41, 69);"></div></a><a title="Royal Blue" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 87, 163);"></div></a><a title="Sky Blue" class="icon-color-wrapper "><div class="back" style="background: rgb(0, 154, 222);"></div></a><a title="Light Blue" class="icon-color-wrapper "><div class="back" style="background: rgb(146, 192, 233);"></div></a><a title="Dark Purple" class="icon-color-wrapper "><div class="back" style="background: rgb(81, 12, 118);"></div></a><a title="Maroon" class="icon-color-wrapper "><div class="back" style="background: rgb(114, 37, 61);"></div></a><a title="Dark Red" class="icon-color-wrapper "><div class="back" style="background: rgb(171, 0, 51);"></div></a><a title="Red" class="icon-color-wrapper "><div class="back" style="background: rgb(234, 0, 41);"></div></a><a title="Orange" class="icon-color-wrapper "><div class="back" style="background: rgb(244, 137, 52);"></div></a><a title="Gold Yellow" class="icon-color-wrapper "><div class="back" style="background: rgb(255, 183, 27);"></div></a><a title="Light Yellow" class="icon-color-wrapper "><div class="back" style="background: rgb(252, 220, 62);"></div></a><a title="Vegas Gold" class="icon-color-wrapper "><div class="back" style="background: rgb(201, 181, 119);"></div></a><a title="Off White" class="icon-color-wrapper "><div class="back" style="background: rgb(241, 225, 207);"></div></a><a title="more" class="icon-color-wrapper hidden-pc"><div class="back" style="background: url(&quot;/static/icons/colours/more.svg&quot;) no-repeat;"></div></a>
      </div>
    </div>
  </div>
  </div>

  <div class="mineSvg">
   <div class="loader" id="loader" style="display: none; text-align: center;">
    <img src="https://slateblue-goldfish-894680.hostingersite.com/custom-app/loader.gif" alt="Loading..." />
    </div>
  <div id="svg-slider" class="slider"></div>
  </div>
  <div class="product_detaile">
    <div class="product-info-tab hidden-mobile">
        <div class="dynamic-pricing">
            <div class="product-design-name">Hoodie</div>
            
            
            <div class="product-estimatedItemQty">
                <p class="estimatedItem-title">Estimated quantity</p>
                <div class="estimatedItem">
                  <form action="/cart/add" id="customcartform" method="post" enctype="multipart/form-data">
                      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                      <input type="hidden" id="unit-price" value="{{ product.price | money_without_currency }}">

                      <div class="input-number-block estimatedItemQty-input-part success">
                          <a onclick="decreaseQuantity()">
                              <img class="icon" src="https://cdn.shopify.com/s/files/1/0904/5262/3636/files/rectangle.png">
                          </a>
                          <input class="number-input" id="quantity" name="quantity" type="text" value="50" min="50" oninput="validateQuantity()">
                          <a onclick="increaseQuantity()">
                              <img class="icon" src="https://cdn.shopify.com/s/files/1/0904/5262/3636/files/rectangle-add.png">
                          </a>
                      </div>
                      <div class="save-btn">
                      <a href="javascript:void(0)" class="btn addMine">Add to Cart</a>
                      <button class="btn" type="submit" style="display: none;">Add to Cart</button>
                      </div>
                  </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
  <div class="main-header-btn">
  <div class="close-btn">
  <button id="closePopup">
    Exit
  </button>
  </div>
 
  </div>
</div>

{% schema %}
{
  "name": "Star Rating Button",
  "target": "section",
  "settings": [
    { "type": "color", "id": "colour", "label": "Text Color", "default": "#ff0000" },
    { "type": "color", "id": "bg_colour", "label": "Background Color", "default": "#ffffff" }
  ]
}
{% endschema %}